
<div class="container">
  <h2>CV</h2>
  <h4>გთხოვთ შეავსოთ ფორმა</h4>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div>
      <input type="text"  name="firstname" formControlName="firstname" placeholder="სახელი გვარი">
    </div>
    <div>
      <input type="email" name="email" formControlName="email" placeholder="ელფოსტა">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="tel" name="phone" formControlName="phone" placeholder="ტელეფონი">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="age" name="age" formControlName="age" placeholder="ასაკი">
    </div>
    <div  formGroupName="UserControlInfo">
      <input type="date" name="year" formControlName="year" placeholder="წელი">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="text" name="street" formControlName="street" placeholder="მისამართი">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="text" name="education" formControlName="education" placeholder="განათლება">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="text" name="work" formControlName="work" placeholder="გამოცდილება">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="url" name="link1" formControlName="link1" placeholder="github">
    </div>
    <div formGroupName="UserControlInfo">
      <input type="url" name="link2" formControlName="link2" placeholder="linkdin">
    </div>
    <label>
      <input type="checkbox" [value]="true" formControlName="active" >ვეთანხმები
    </label>
    <button type="submit">გაგზავნა</button>
  </form>
</div>

<pre>
valid {{form.valid | json}}
  </pre>
<pre>
{{form.value | json}}
  </pre>
