
.container {
  width: 90%;
  margin: 20px auto;
  background-color: #363E4A;
  overflow: hidden;
  text-align: center;
  box-shadow: 5px 5px;
}

h2 {
  font-family: 'PT Serif', serif;
  text-align: center;
  margin: 53px 0 -15px;
  color: #DDD
}

h4 {
  font-family: 'Lobster', cursive;
  letter-spacing: 2px;
  text-align: center;
  margin: 41px 0 -15px;
  color: #DDD
}

[type="text"], [type="tel"], [type="email"], [type="text"], [type="age"], [type="date"], [type="url"] {
  display: block;
  width: 280px;
  height: 30px;
  padding: 5px;
  margin: 45px auto 21px auto;
  border: 0;
  border-bottom: 2px solid #5E656E;
  background: none;
  outline: none;
  color: #DDD;
  font-weight: bold;

}


button[type="submit"] {
  margin: 25px;
  border: 0;
  width: 150px;
  height: 50px;
  background: #5E656E;
  color: #DDD;
  border-radius: 5px;
  cursor: pointer
}

input {
  &.ng-invalid.ng-touched{
    border-bottom: 2px solid red;
   }

}

